<div class="nav header yui3-u-1 ">
    <div class="container">
        <div class="yui3-u-1 clearfix">
            <a href="/" class="pull-left logo fake-link">PourOver</a>
            <div class="navbar pull-right">
              <ul class="nav">
                <li class="open-caret logged-in-block dropdown">
                  <a href="#" role="menu" class="dropdown-toggle fake-link" data-toggle="dropdown">
                    <span class="logged-in-as">Logged in as</span><hr>
                    <span class="logged-in-username">
                      <span class="inner" ng-bind="current_user.username"></span><i class="icon-chevron-down"></i>
                    </span>
                  </a>
                  <ul class="dropdown-menu unstyled">
                    <li>
                      <a href="http://app.net/{{current_user.username}}" target='blank'>
                        <i class="icon-user transition-color"></i><span class="m-yui3-u-none">Profile</span>
                      </a>
                    </li>
                    <li><a href="/logout">
                      <i class="icon-off transition-color"></i>Log Out</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
        </div>
    </div>
  </div>
</div>