<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <a class="brand" href="/" >PourOver</a>
    <ul class="nav pull-right">
      <li class="dropdown">
        <a class="dropdown-toggle like-link" data-toggle="dropdown"><span>@</span><span ng-bind="current_user.username"></span> <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href='http://app.net/{{current_user.username}}' target='_blank'>App.net Profile Page</a></li>
          <li><a href='/logout'>Logout of PourOver</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>