*.py[cod]

# C extensions
*.so

# Packages
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

venv
*.pyc
buster/static
gob/dist
gob/build
gob/.sass-cache
gob/.tmp
gob/node_modules
*.DS_Store*
buster/application/secret_keys.py
buster/application/templates/
Vagrantfile
