<form class="form-inline">
  <div class="nav nav-list m-yui3-u-none nav-vertically-responsive">
    <div class="nav-header">Format</div>
    <div class="nav-pane active" id="format">
      <div class="control-group format-mode">
        <p><small>How do you want the title and link to show up in your App.net posts</small></p>
        <p>
          <label class="radio">
            <input type="radio" ng-model="feed.format_mode" value="1"> <span class="like-link">Story Title</span></label>
        </p>
        <p>
          <label class="radio">
            <input type="radio" ng-model="feed.format_mode" value="2"> <span>Story Title</span> <span class="like-link">story-link.com</span>
          </label>
        </p>
      </div>
    </div>
  </div>
  <div class="nav nav-list nav-vertically-responsive">
    <div class="nav-header">Options</div>
    <div class="tab-pane" id="options">
      <div class="control-group">
          <div class="controls">
            <label class="checkbox">
              <input type="checkbox" name="include_summary" ng-model="feed.include_summary"> Include Summary
            </label>
            <p class="help-block">
              <small>Include a portion of the feed item body.</small>
            </p>
            <label class="checkbox">
              <input type="checkbox" name="include_thumb" ng-model="feed.include_thumb"> Include Image
            </label>
            <p class="help-block">
              <small>Images will be attached to the post.</small>
            </p>
            <label class="checkbox">
              <input type="checkbox" name="include_video" ng-model="feed.include_video"> Include Video
            </label>
            <p class='help-block'>
              <small>Videos will be attached to the post.</small>
            </p>
            <label class="checkbox">
              <input type="checkbox" name="linked_list" ng-model="feed.linked_list_mode"> Linked List Mode
            </label>
            <p class='help-block'>
              <small>Use Linked List Mode if you run a link blog and you want the title to be linked to your website instead of the post permalink.<small>
            </p>
          </div>
      </div>
    </div>
  </div>
  <div class="nav nav-list">
    <div class='nav-header'>Bit.ly</div>
    <div class='nav-pane' id='bitly'>
      <div class="control-group format-mode">
        <p><small>Enter your Bit.ly credentials to turn on link shortening. <a href="https://bitly.com/a/your_api_key" target="_blank">Find your API Key information.</a></small></p>
        <div class="control-group yui3-u-11-12">
          <label class="control-label" for="bitly_login">Bit.ly Login</label>
          <div class="controls">
            <input type="text" name="bitly_login" ng-model="feed.bitly_login" class='input-flex'>
          </div>
        </div>
        <div class="control-group yui3-u-11-12">
          <label class="control-label" for="bitly_api_key">Bit.ly API Key</label>
          <div class="controls">
            <input type="text" name="bitly_api_key" ng-model="feed.bitly_api_key" class='input-flex'>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="nav nav-list" ng-show='writeable_channels'>
    <div class='nav-header'>Publish to Channel</div>
    <div class='nav-pane' id='channels'>
      <div class="control-group format-mode">
        <p><small>If you choose a channel your feed will stop publishing to your account</small></p>
        <select name='channel_id' ng-model='feed.channel_id'>
          <option value=''>No Channel</option>
          <option ng-repeat='channel in writeable_channels' value='{{channel.id}}' ng-selected='channel.id == feed.channel_id'>{{ getChannelTitle(channel) }}</option>
        </select>
      </div>
    </div>
  </div>
</form>
<p>
  <button type="submit" class="btn btn-primary ladda-button" data-dismiss="modal" data-save-btn="" data-style="slide-left" ng-click="createOrUpdateFeed()"><span class="ladda-label">Update Feed</span></button>
</p>