<h5>Advanced Settings</h5>
<form class="form-inline">
  <ul class="nav nav-tabs">
    <li class="active"><a data-target="#actions" data-toggle="tab" class="like-link" ng-show="feed.feed_id">Actions</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="actions">
      <div class="control-group">
        <div class="controls">
          <p>Delete your feed? <a class="like-link" ng-click="deleteFeed()">Delete Feed</a></p>
        </div>
      </div>
    </div>
  </div>
</form>