<div ng-include="" src="'/views/includes/nav.html'"></div>
<div class="authenticated-app">
  <div class="row">
    <div class="span12">
      <h3>
        <span ng-bind='feed.title'></span>
        <small class='muted'><a ng-href="{{feed.feed_url}}" class='muted' target='_blank'><i class='icon-external-link'></i></a></small>
      </h3>
    </div>
  </div>
  <div class='row'>
    <div class='span12'>
      <ul class="nav nav-tabs">
        <li class="active"><a data-target="#posts" data-toggle="tab" class="like-link">Posts</a></li>
        <li><a data-target="#settings" data-toggle="tab" class="like-link" ng-show="feed.feed_id">Settings</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="posts">
          <p ng-show='showEmptyMessage()'>Your feed doesn't seem to have any posts. You should check and see if its working.</p>
          <div ng-show='unpublished_entries'>
            <h4>Future Posts</h4>
            <table class='table'>
              <tbody>
                <tr ng-repeat="entry in unpublished_entries">
                  <td ng-bind='entry.title' class='span8'></td>
                  <td ng-bind='entry.added'></td>
                  <td>
                    <a ng-click='publishEntry(entry)' class='btn btn-mini pull-right'>Publish Now</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div ng-show='published_entries'>
            <h4>Recently Published Posts</h4>
            <table class='table'>
              <tbody>
                <tr ng-repeat="entry in published_entries" ng-show='entry.published_at'>
                  <td ng-bind='entry.title' class='span8'></td>
                  <td ng-bind='entry.published_at'></td>
                  <td class='ta-right'>
                    <a ng-click='publishEntry(entry)' class='btn btn-mini pull-right'>Republish Now</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div ng-show='overflow_entries'>
            <h4>Post Backlog <small>These are posts that have not been published for various reasons.</small></h4>
            <table class='table'>
              <tbody>
                <tr ng-repeat="entry in overflow_entries">
                  <td ng-bind='entry.title' class='span8'></td>
                  <td ng-bind='entryStatus(entry)'></td>
                  <td>
                    <a ng-click='publishEntry(entry)' class='btn btn-mini pull-right' ng-bind='entryAction(entry)'></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane" id="settings">
          <h5>Feed Preview</h5>
          <div class="media" ng-repeat="post in posts">
            <span class="pull-left">
              <img class="media-object" ng-src="{{ current_user.avatar_image.url }}" width="50px" height="50px">
            </span>
            <div class="media-body">
              <b class="media-heading"><span ng-bind="current_user.username"></span></b>
              <span class="pull-right" ng-show="post.thumbnail_image_url">
                <img class="media-object" ng-src="{{ post.thumbnail_image_url }}" width="100px">
              </span>
              <div class="media-body">
                <p ng-bind-html-unsafe="post.html"></p>
              </div>
            </div>
          </div>
          <div ng-include="" src="'/views/includes/settings/' + feed.feed_type + '_form.html'"></div>
        </div>
      </div>
    </div>
  </div>
</div>