<div ng-include src="'/views/nav.html'"></div>
<h2>Your Feeds</h2>
<p ng-show='feeds.length == 0'>You don't have any feeds. To start using PourOver you need to create a feed.</p>
<table class='table table-condensed' ng-show='feeds.length > 0'>
  <thead>
    <tr>
      <th>Title</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat='feed in feeds'>
      <td>
        <a ng-href='/feed/{{feed.feed_type}}/{{feed.feed_id}}/' ng-bind='feed.title'></a>
      </td>
      <td ng-bind='feed.feed_url'></td></td>
    </tr>
  </tbody>
</table>

<p><a data-target="#newFeedModal" role="button" class="btn" data-toggle="modal">Create a new feed</a></p>

<div id='newFeedModal' class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Create A New Feed</h4>
  </div>
  <div class="modal-body">
    <form class="form-vertical">
      <label class="control-label">Feed URL</label>
      <div class="controls">
        <input type="text" placeholder="https://example.com/rss" ng-model='feed.feed_url' class='span5'>
        <span class='loading-icon' style='display: none;'>
          <i class="icon-refresh icon-spin"></i>
        <span>
      </div>
      <div ng-show='valid_feed'>
        <h5>Found a Feed</h5>
        <div class='ellipses'>
          <b>Name:</b> <span ng-bind='feed.title'></span>
        </div>
        <div class='ellipses'>
          <b>Feed URL:</b><span ng-bind='feed.feed_url'></span>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-close data-dismiss="modal">Close</a>
    <button type="submit" class="btn btn-primary ladda-button" data-save-btn data-style="slide-left" ng-click='createFeed()' ng-disabled='!valid_feed'><span class='ladda-label'>Save Feed</span></button>
  </div>
</div>