<h5>Advanced Settings</h5>
<form class="form-inline">
  <ul class="nav nav-tabs">
    <li class="active"><a data-target="#schedule" data-toggle="tab" class="like-link">Schedule</a></li>
    <li><a data-target="#format" data-toggle="tab" class="like-link">Format</a></li>
    <li><a data-target="#options" data-toggle="tab" class="like-link">Options</a></li>
    <li><a data-target="#actions" data-toggle="tab" class="like-link" ng-show="feed.feed_id">Actions</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="schedule">
      <div class="control-group schedule">
        <div>
          <span>At most post <span>
          <input type="number" value="1" ng-min="1" ng-max="5" name="max_items_per_period" ng-model="feed.max_stories_per_period" ng-bind="feed.max_stories_per_period" class="input-super-mini">
          <span ng-bind="feed.max_stories_per_period == 1 && 'item' || 'items'"></span><span> every</span>
          <select class="input-small" ng-model="feed.schedule_period" name="schedule_period" ng-options="c.value as c.label for c in schedule_periods"></select>
        </span></span></div>
        <p><small>If the feed uses <a href="https://code.google.com/p/pubsubhubbub/" target="_blank">PuSH</a> syndication is realtime.</small></p>
      </div>
    </div>
    <div class="tab-pane" id="format">
      <div class="control-group format-mode">
        <p><small>How do you want the title and link to show up in your App.net posts</small></p>
        <p>
          <label class="radio">
            <input type="radio" ng-model="feed.format_mode" value="1"> <span class="like-link">Just The Story Title Linked
          </span></label>
        </p>
        <p>
          <label class="radio">
            <input type="radio" ng-model="feed.format_mode" value="2"> The Story Title By Its Self Then A <span class="like-link">link.com</span>
          </label>
        </p>
      </div>
      <hr>
      <div class="control-group format-mode">
        <p><small>Enter your Bit.ly credentials to turn on link shortening. <a href="https://bitly.com/a/your_api_key" target="_blank">Find your API Key information.</a></small></p>
        <div class="control-group">
          <label class="control-label" for="bitly_login">Bit.ly Login</label>
          <div class="controls">
            <input type="text" name="bitly_login" ng-model="feed.bitly_login">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="bitly_api_key">Bit.ly API Key</label>
          <div class="controls">
            <input type="text" name="bitly_api_key" ng-model="feed.bitly_api_key">
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="options">
      <div class="control-group">
          <div class="controls">
            <label class="checkbox">
              <input type="checkbox" name="include_summary" ng-model="feed.include_summary"> Include Summary
            </label>
            <p class="help-block">
              <small>Include a portion of the feed item body.</small>
            </p>
            <label class="checkbox">
              <input type="checkbox" name="include_thumb" ng-model="feed.include_thumb"> Include Image
            </label>
            <p class="help-block">
              <small>If an image is included in the feed item it will be attached to the App.net post as an oEmbed annotation. To be included the image must specify its width and height. Dimension constraints: Min (200 x 200 px) Max (1000 x 1000 px). If both include video, and include image are checked include image will win.</small>
            </p>
            <label class="checkbox">
              <input type="checkbox" name="include_video" ng-model="feed.include_video"> Include Video
            </label>
            <p class="help-block">
              <small>If a video(Youtube/Vimeo) is embedded in the feed item it will be attached to the App.net post as an oEmbed annotation. If both include video, and include image are checked include image will win.</small>
            </p>
            <label class="checkbox">
              <input type="checkbox" name="linked_list" ng-model="feed.linked_list_mode"> Linked List Mode
            </label>
            <p class="help-block">
              <small>Use Linked List Mode if you run a link blog and you want the title to be linked to your website instead of the post permalink.</small>
            </p>
          </div>
      </div>
    </div>
    <div class="tab-pane" id="actions">
      <div class="control-group">
        <div class="controls">
          <p>Delete your feed? <a class="like-link" ng-click="deleteFeed()">Delete Feed</a></p>
        </div>
      </div>
    </div>
  </div>
</form>
<p>
  <button type="submit" class="btn btn-primary ladda-button" data-dismiss="modal" data-save-btn="" data-style="slide-left" ng-click="createOrUpdateFeed()"><span class="ladda-label">Update Feed</span></button>
</p>