<div class="hero-unit main">
  <h1>PourOver <small>from App.net</small></h1>
  <h2 class="main-h2">PourOver is a tool that allows you to publish any RSS feed to App.net.</h2>
  <p>It's an easy to way to syndicate whatever you are publishing to the growing community of App.net users.  Getting started is easy, even if you don't yet have an App.net account. <a href='http://join.app.net'>Learn more about App.net.</a></p>
  <ul class='unstyled steps-list'>
    <li>
        <div class="step ta-center">1</div>
        Click the Authorize with App.net button:
        <a href='https://account.app.net/oauth/authenticate?client_id={{client_id}}&response_type=token&scope=write_post&redirect_uri={{ redirect_uri }}' class='adn-button' data-type='authorize_v2' data-width="147" data-height="22">Authorize with App.net</a>
    </li>
    <li><div class="step ta-center">2</div> Sign up or Log in</li>
    <li><div class="step ta-center">3</div> Enter your RSS feed</li>
  </ul>
  <h4>Examples</h4>
  <ul class='unstyled'>
    <li><img src='https://plus.google.com/_/favicon?domain=http://arstechnica.com/' width='16px'> <a href='https://alpha.app.net/arstechnica'>Arstechnica</a></li>
    <li><img src='https://plus.google.com/_/favicon?domain=http://daringfireball.net' width='16px'> <a href='https://alpha.app.net/daringfireball'>Daring Fireball</a></li>
    <li><img src='https://plus.google.com/_/favicon?domain=http://the-magazine.org/' width='16px'> <a href='https://alpha.app.net/themagazinerss'>The Magazine</a></li>
  </ul>
<script>(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='//d2zh9g63fcvyrq.cloudfront.net/adn.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'adn-button-js'));</script>
</div>

